#cssmenu li div{
	text-align: center;
	padding-left: 10px;
	padding-top:7px;
	padding-bottom:7px;
}
#dataFilter{
	width: 300px;
	height: 30px;
	font-size: 20px;
}
#dataFilter::-webkit-input-placeholder{
	font-size:20px;
}
#dataFilter::-moz-placeholder{
	font-size:20px;
}
#dataFilter:-ms-input-placeholder{
	font-size:20px;
}